# see http://about.travis-ci.org/docs/user/languages/php/ for more hints
language: php

# list any PHP version you want to test against
php:
  # aliased to a recent 7.2 version
  - 7.2

before_install:
  - sudo apt-get update > /dev/null

# omitting "script:" will default to phpunit
# use the $DB env variable to determine the phpunit.xml to use
before_script:
  - composer install --no-interaction
  - mkdir -p build/logs
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter

script:
  - vendor/phpunit/phpunit/phpunit --configuration ./phpunit.travis.yml test

after_success:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT

# configure notifications (email, IRC, campfire etc)
notifications:
  email: "ashley@zf4.biz"